################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSharp_Prof/FileContentIndex
*.json
*.sqlite
/.vs/CSharp_Prof/v17
/HealthPlus/Servicies
/HealthPlus/.vs
