@{
    ViewData["Title"] = "Create new appointment";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Doc Appointment create page</p>
    <div>
        <div>
            <label for="DocAppointment-id">Id:</label>
            <input type="text" id="DocAppointment-id" name="id">
        </div>
        <div>
            <label for="User-id">User-Id:</label>
            <input type="text" id="User-id" name="userId">
        </div>
        <div>
            <label for="Spec">Specialization:</label>
            <input type="text" id="Spec" name="specialization">
        </div>
        <div>
            <label for="Note">Note:</label>
            <textarea id="Note" name="note"></textarea>
        </div>
        <div>
            <label for="AppointmentDate">Appointment Date:</label>
            <input type="datetime" id="AppointmentDate" name="appointmentDate">
        </div>
        <button>Submit</button>
    </div>
</div>