@model DocAppointmentsListModel


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Doc Appointment page</p>
    <a class="nav-link text-dark" asp-area="" asp-controller="DocAppointment" asp-action="Create">create new Doc Appointment</a>
</div>
<div class="row">
    @if (!Model.DocAppointments.Any())
    {
        await Html.RenderPartialAsync("DocAppointmentEmpty");
    }
    else
    {
        foreach (var item in Model.DocAppointments)
        {
            await Html.RenderPartialAsync("DocAppointmentView", item);
        }
    }

</div>